.Hero{
    overflow: hidden;
    padding: 40px 0;
    position: relative;
    
    &__Img{
        width: 520px;
        padding: 0 12px;

        @media only screen and (min-width:1000px) {
            width: auto;
            position: relative;
        }
    }

    div{
        width: 170px;
        height: 100%;
        background-color: var(--LightGrayishBlue);
        position: absolute;
        right: 0;
        top: 0;
        border-bottom-left-radius: 50px;
        z-index: -1;

        @media only screen and (min-width:1000px) {
            width: 700px;
            height: 50%;
        }
    }
}