.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 50;

    &__Logo{
        width: 20px;
    }

    &__Button{
        @media only screen and (min-width:1000px) {
            display: none;
        }
    }

    &__Div{
        width: 170px;
        height: 100%;
        background-color: var(--LightGrayishBlue);
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;

        @media only screen and (min-width:1000px) {
            width: 700px;
        }
    }

    &__Menu{
        position: absolute;
        top: -220px;
        left: 0;
        right: 0;
        margin: 0 30px;
        padding: 24px 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        z-index: 30;
        border-radius: 4px;
        transition: all .3s ease-in;

        @media only screen and (min-width:1000px){
            position: relative;
            top: 0;
            padding: 0;
            background: none;
            flex-direction: row;
            gap: 40px;
        }
        
        li{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            width: 100%;
            text-align: center;

            &:last-child{
                color: var(--GrayishBlue);
            }
            
            a, a:visited{
                color: var(--VeryDarkBlue);
                transition: color .3s ease;
                &:hover{
                    color: var(--GrayishBlue);
                }
            }
        }
    }
}

.Menu__Spacer{
    width: 80%;
    height: 1px;
    background-color: var(--GrayishBlue);

    @media only screen and (min-width:1000px) {
        min-width: 6px;
        height: 6px;
        border-radius: 50%;
    }
}

.active{
    top: 64px;
}